/* CSS for NavBar */


/* Add a white background color to the top navigation */
.topnav {
    background-color: #f2f2f2;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    padding: 1.4em 1.6em;
    text-decoration: none;
    font-size: 1em;

    /* Added by Hitoki*/
    color: #000;;
    transition: all 0.3s;
    margin-right: 1em;
    border-radius: 1em;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    color: #697385;
    cursor: pointer;
}

/* Make the links a flexbox and make them go towards the right side */
.topnav .links {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

/* Style the logo */
.topnav img {
    width: 3em;
    height: 3.5em;
    margin: auto;
    padding: 0;
}

/* Styling for logo */
.topnav .logo{
    display: flex;
    margin-left: 0.5em;
    padding: 0.5em;
}

.topnav h1 {
    margin-left: 1em;
}

@media screen and (max-width: 700px) {
    /* Stack elements vertically */
    .topnav .links{
        flex-direction: column;
    }
}