/* CSS for NavBar */


/* Add a white background color to the top navigation */
.nav-topnav {
    background-color: var(--navBarBackground);
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
    text-align: center;
    padding: 1.4em 1.6em;
    text-decoration: none;

    /* Added by Hitoki*/
    color: #000;;
    transition: all 0.3s;
    margin-right: 1em;
    border-radius: 1em;
}
  
/* Change the color of links on hover */
.nav a:hover {
    color: #697385;
    cursor: pointer;
}

/* Make the links a flexbox and make them go towards the right side */
.nav-topnav .nav-desktop {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

/* Style the image */
.nav-topnav img {
    width: 3em;
    height: 3.5em;
    margin: auto;
    padding: 0;
}

/* Styling for logo */
.nav-topnav .logo{
    display: flex;
    margin-left: 0.5em;
    padding: 0.5em;
}

/* Margin for the header */
.nav-topnav h1 {
    margin-left: 1em;
    font-size: min(1em, max(5vw, 1em));
    display: flex;
    text-align: center;
    align-items: center;
}

/* Make the mobile dropdown hidden for bigger screens */
@media screen and (min-width: 701px) {
    .nav-toggle-dropdown, .nav-dropdown-menu{
        display: none;
    }
}

/* Mobile view dropdown */
@media screen and (max-width: 700px) {
    /* Stack elements vertically */
    .nav-topnav .nav-desktop {
        display: none;
    }

    .nav-toggle-dropdown {
        display: flex;
        border-radius: 0.5em;
        padding: 0.5em;
        margin-left: auto;
        margin-right: 1em;
    }

    .nav-dropdown-menu {
        display: flex;
        flex-direction: column;
        background-color: var(--navBarBackground);
        max-height: 0;
        overflow: hidden;
        transition: transform max-height 10s linear;
    }

    .nav-dropdown-menu.show {
        max-height: 100%;
    }

    .nav-dropdown-menu a {
        border-radius: 0;
        margin-right: 0;
    }
}