/* CSS for NavBar */


/* Add a white background color to the top navigation */
.nav-topnav {
    background-color: var(--navBarBackground);
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: .3em;
}

/* Style the links inside the navigation bar */
.nav a {
    text-align: center;
    /* padding: 1.2em 1.4em; */
    padding: 1em;
    text-decoration: none;

    /* Added by Hitoki*/
    color: #000;;
    transition: all 0.3s;
    margin-right: 1em;
    border-radius: 1em;
}
  
/* Change the color of links on hover */
.nav-links a:hover {
    color: #697385;
    cursor: pointer;
}

/* Make the links a flexbox and make them go towards the right side */
.nav-topnav .nav-desktop {
    display: flex;
    margin-left: auto;
}

/* Style the image */
.nav-topnav img {
    width: 3em;
    height: 3.5em;
    margin: auto;
    padding: 0;
}

/* Styling for logo */
.nav-topnav .logo{
    display: flex;
    margin-left: 0.5em;
    padding: 0;
}

/* Margin for the header and font size*/
.nav-topnav h1 {
    margin-left: 1em;
    font-size: min(1.25em, max(5vw, 1em));
}

/* Make the mobile dropdown hidden for bigger screens */
@media screen and (min-width: 701px) {
    .nav-mobile-buttons, .nav-dropdown-menu{
        display: none;
    }
}

/* Mobile view */
@media screen and (max-width: 700px) {
    /* Stack elements vertically */
    .nav-topnav .nav-desktop {
        display: none;
    }

    .nav-mobile-buttons {
        display: flex;
        border-radius: 0.5em;
        padding: 0.5em;
        margin-left: auto;
        margin-right: 1em;
    }

    .nav-dropdown-menu {
        display: flex;
        flex-direction: column;
        background-color: var(--navBarBackground);
        max-height: 0;
        overflow: hidden;
        transition: transform max-height 10s linear;
    }

    .nav-dropdown-menu.show {
        max-height: 100%;
    }

    .nav-dropdown-menu a {
        border-radius: 0;
        margin-right: 0;
    }

    .nav-mobile-buttons > .nav-login-button {
        margin-right: 10%;
    }

    .nav-topnav h1 {
        font-size: 1em;
    }
}

.nav-login-button, .nav-toggle-dropdown {
    padding: 1em;
    margin-right: 1em;
    font-size: 1em;
}

.nav-form-popup {
    display: none;
}

.nav-form-popup.show {
    display: flex;
    position: fixed;
    background-color: var(--navBarBackground);
    z-index: 999;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
    max-height: 75%;
    top: 10%;
    overflow: auto;
}

.nav-form {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
    padding: 2em;
}

.nav-form-background {
    display: flex;
    justify-content: center;
}

.nav-form > h1{
    margin-top: 0;
    margin-bottom: .3em;
}

/* Style the input fields */
.nav-form-input {
    width: 100%;
    padding: .5em 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 1em;
    font-size: .5em;
}
  
.nav-form-input:focus {
    border-color: #007bff;
    outline: none;
}
  
/* Style the buttons */
.nav-form-button {
    color: #fff;
    border: none;
    padding: .5em 1em;
    border-radius: 0.5em;
    font-size: .5em;
    cursor: pointer;
    margin: .2em;
}

.nav-form-button-login {
    background-color: #174da3;
}

.nav-form-button-close {
    background-color: #8f1511;
}
  
.nav-form-button-login:hover {
    background-color: #0069d9;
}

.nav-form-button-close:hover {
    background-color: #c20a0a;
}