/* CSS for the homepage */
.home{
    --title-size: min(3em, 10vw);
}
.home-title{
    font-size: var(--title-size);
    text-align: center;
    margin-top: 1em;
    margin-bottom: .3em;
    font-weight: bold;
}
.home-subtitle{
    color: var(--subtitle);
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 0.5em;
}
.home-caption{
    text-align: center;
}
.home-description{
    display: flex;
    flex-direction: column;
    width: var(--text-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.home-about-us{
    margin-bottom: 2em;
}
.home-practice-schedule{
    display: flex;
    flex-direction: column;
    width: var(--text-width);
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
.home-practice-day{
    display: flex;
}
.home-practice-child1{
    flex: 1;
    text-align: center;
    padding-left: 0.3em;
}
.home-practice-child2{
    flex: 1;
    text-align: center;
}
.home-horizontal-line{
    width: var(--text-width);
    margin-left: auto;
    margin-right: auto;
    height: 0.2em;
    background-color: var(--yellow-line);
}
.home-blank-space{
    height: 4em;
}
@media screen and (max-width: 700px) {
    .home-items{
        flex-direction: column;
    }
    .home-list{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
    .home-awards{
        margin-left: auto;
        margin-right: auto;
    }
    .home-practice-schedule, .home-description, .home-horizontal-line{
        width: 90%;
    }
}