.sign-in-welcome-text {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: var(--font-color);
}
.sign-in-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sign-in-form-width-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
}
.sign-in-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sign-in-form-item-text{
    margin-bottom: 0.4em;
    padding: 0.5em;
    border: solid;
    border-radius: 0.3em;
    border-color: #8a8a8a;
    outline: none;
}
.sign-in-form-item-text:focus{
    border-color: #333;
}
.sign-in-form-item-button{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.1em;
    border: solid;
    border-radius: 0.3em;
    border-color: #111;
    background-color: #111;
    outline: none;
    color: #FFF;
    transition: all var(--transition-time);
}
.sign-in-form-item-button:hover{
    cursor: pointer;
    border-color: #333;
    background-color: #333;
    transition: all var(--transition-time);
}
.sign-in-register-text{
    text-align: center;
}