/* CSS for the homepage */
.home-title{
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: .3em;
}
.home-caption{
    text-align: center;
}
.home-items{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
.home-list{
    margin-right: 2em;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 0.5em;
    padding: 1em;
}
.home-awards{
    margin-left: 2em;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 0.5em;
    padding: 1em;
}
.home-practice-schedule{
    display: flex;
    flex-direction: column;
    width: min(40em, 55%);
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
.home-practice-day{
    display: flex;
}
.home-practice-title{
    font-weight: bold;
    padding-bottom: 0.5em;
}
.home-practice-child1{
    flex: 1;
    text-align: center;
    padding-left: 0.3em;
}
.home-practice-child2{
    flex: 1;
    text-align: center;
}
.home-horizontal-line{
    width: min(43em, 60%);
    margin-left: auto;
    margin-right: auto;
    height: 0.2em;
    background-color: #e3bf54;
}
.home-blank-space{
    height: 4em;
}
@media screen and (max-width: 700px) {
    .home-items{
        flex-direction: column;
    }
    .home-list{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
    .home-awards{
        margin-left: auto;
        margin-right: auto;
    }
    .home-practice-schedule{
        width: 80%;
    }
    .home-horizontal-line{
        width: 90%;
    }
}