:root{
  --subtitle: #000000;
  --font-color: #000000;
  --nav-bar-background: #f2f2f2;
  --alternate-background: white;
  --text-width: min(45em, 60%);
  --yellow-line: #e3bf54;
  --transition-time: 0.3s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
